rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null &&
             request.auth.token.email in [
               'nes@impulso-operations.com',
               'impulsoogrowth@gmail.com'
             ];
    }

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write, list: if isOwner(userId) || isAdmin();

      match /leads/{leadId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }
    }

  }
}
